@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 180 25% 25%; /* #2F4F4F - Dark Slate Gray */
    --foreground: 180 5% 95%; /* Lighter shade for text */
    
    --card: 248 39% 28%; /* Darker purple for cards */
    --card-foreground: 180 5% 95%;
    
    --popover: 248 39% 20%; /* Even darker purple */
    --popover-foreground: 180 5% 95%;
    
    --primary: 248 39% 58%; /* #483D8B - Deep Purple */
    --primary-foreground: 180 100% 96%; /* Brighter cyan for contrast */
    
    --secondary: 248 39% 38%; /* Lighter purple for secondary elements */
    --secondary-foreground: 180 5% 95%;
    
    --muted: 248 39% 38%;
    --muted-foreground: 180 10% 70%; /* Muted cyan/gray */
    
    --accent: 180 100% 94%; /* #E0FFFF - Light Cyan */
    --accent-foreground: 248 39% 15%; /* Dark purple text on cyan buttons */
    
    --destructive: 0 72% 51%;
    --destructive-foreground: 180 5% 95%;
    
    --border: 248 39% 40%;
    --input: 248 39% 38%;
    --ring: 180 100% 94%; /* Light Cyan for rings */
    --radius: 0.75rem;
  }

  .dark.dynamic-theme {
    --primary: var(--primary-dynamic);
    --accent: var(--accent-dynamic);
    --ring: var(--primary-dynamic);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-color: hsl(var(--background));
    background-image: radial-gradient(ellipse 80% 80% at 50% -20%, hsl(var(--primary) / 0.3), transparent);
    background-repeat: no-repeat;
    cursor: none;
    transition: background-image 0.5s ease-in-out, background-color 0.5s ease-in-out;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 8px hsl(var(--primary) / 0.75);
    transition: text-shadow 0.5s ease-in-out;
  }
}
